html {
  font-size: 16px;
}
body * {
  font-family: 'Comic Sans', Helvetica, sans-serif;
  box-sizing: border-box;
}
section {
  padding: 1rem;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
}
h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
a {
  color: #000;
}
a:hover, a:focus, a:active {
  opacity: 0.7;
}
a:visited {
  color: green;
}

canvas {
  border: 1px solid black;
  margin: 30px 0;
  cursor: url('data:image/svg+xml;utf8,<svg height="15" width="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><circle cx="7.5" cy="7.5" r="6.5" stroke="black" stroke-width="1" fill="none" /></svg>'), auto;
}
#save {
  cursor: pointer;
  border: 1px solid #000;
  padding: 6px 15px 5px 15px;
  display: inline;
  font-size: 0.8rem;
}
.active {
  border: 2px solid red;
}
.size-container {
  margin: 30px 0;
}
.color-container {
  display: flex;
  align-items: center;
}
.size-clik {
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #000;
}
.inactive {
  color: #C6C6C6;
  border: 1px solid #C6C6C6;
  cursor: default;
}
ul {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: stretch;
  align-items: center;
  line-height: 40px;
  margin-top: 15px;
}
li {
  list-style: none;
  height: 100%;
  margin: 15px 30px 15px 0;
  min-width: 40px;
}
/* colors */
input[type=color] {
  border: 0;
  height: 40px;
  cursor: pointer;
}
/*#black {
  background-color: black;
}
#pink {
  background-color: pink;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}*/