html {
  font-size: 16px;
}
body * {
  font-family: 'Comic Sans', Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}
h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

canvas {
  border: 1px solid black;
  margin: 40px 0;
}

ul {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: stretch;
}
li {
  list-style: none;
  height: 100%;
  margin: 15px 30px 15px 0;
  min-width: 40px;
}
#black {
  background-color: black;
}
#pink {
  background-color: pink;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}